@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(3, 3, 29);
  

  
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/* Add padding-top or scroll-margin-top to adjust for fixed navbar */
/* #home, #experience, #projects {
  padding-top: 60px; /* Adjust to the height of your navbar */
  /* margin-top: -60px; Ensure the section starts below the navbar */
 /* }  */

/* If you're using scroll-margin-top instead of padding */
html {
  scroll-behavior: smooth;
   scroll-padding-top: 100px; /*Adjust to the height of your navbar */
} 


